.container {
  margin: .5rem;
  max-width: 400px;
}
.container .title {
  padding-bottom: .25em;
  padding-bottom: 0;
}
.container .swipeContainer {
  padding: 1em;
}
.container .swipeContainer .swipe {
  display: inline-block;
  border: 2px solid gray;
  padding: 5px;
}
.container .swipeContainer .swipe .hollow {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.container .swipeContainer .swipe .hollow .float-right {
  float: right!important;
}
.container .swipeContainer .swipe .hollow .float-left {
  float: left!important;
}
