.landing-container {   
    max-width: 1000px;
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    margin-top: 120px;
    .imgs {
        margin: 5px;
        position: relative;
    }:hover {
        cursor: pointer;     
 
       
        
    }
}
  